{
  "presets" : ["es2015", "stage-3", "stage-0"],
  "plugins": [
    "transform-flow-strip-types",
    "syntax-async-functions",
    "transform-regenerator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
